@at-root{
    $component: ".directions__item";

    #{$component}{
        position: relative;
        background: linear-gradient(-75deg, get-color(primary), get-color(primary-light));
        box-shadow: 0 4px 12px rgba(get-color(black), 25%);
        transform: skew(-8deg) scaleX(0.978);

        &:before{
            content: "";
            position: absolute;
            top: 1px;
            left: 1px;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            background-color: get-color(primary);
        }
            

        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){
            flex: 1;
            transform: skew(-5deg) scaleX(0.978);

            &:nth-child(even){
                margin: 0 -10px;
            }
        }
    }
}
