@at-root{
    $component: ".footer__contacts";

    #{$component}{
        margin-bottom: 30px;
        
        @include bp("sm", "up"){
            display: flex;
            flex-direction: column-reverse;
            flex-basis: 100%;
            margin-top: -70px;
        }
        @include bp("lg", "up"){
            flex-direction: column;
            flex-basis: auto;
            margin-top: 0;
        }
    }
}
