footer.footer.page__footer
    ._container.container 
        ._inner
            a.logo._logo(href="#top")
                img._icon(src="./img/logo.svg" width="55" height="55" alt="Ambrellabio.tech" loading="lazy")
                
                span._text 
                    | Ambrellabio.tech

            nav.nav._nav 
                ul._list 
                    li._item 
                        a._link(href="#top")
                            | Главная
                            
                    li._item 
                        a._link(href="#advantages")
                            | Почему мы
                            
                    li._item 
                        a._link(href="#values")
                            | Наши ценности
                            
                    li._item 
                        a._link(href="#contacts")
                            | Контакты
                            
                    li._item 
                        a._link(href="#about")
                            | О компании
                            
                    li._item 
                        a._link(href="#rent")
                            | Аренда компьютеров
                            
                    li._item 
                        a._link(href="#methods")
                            | Биоинженерия

            .contacts._contacts
                ul._list 
                    li
                        strong
                            | Адрес компании: 
                        | 129110, г. Москва, 
                        br 
                        | Гиляровского, 57, стр. 1
                        
                    li
                        strong
                            | Email:
                        a(href="mailto:info@ambrellabio.tech") 
                            | info@ambrellabio.tech
                        
                    li
                        strong
                            | Телефон:
                        a(href="tel:+7 (495) 108-43-21") 
                            | +7 (495) 108-43-21

                .socials._socials 
                    a.social._item(href="https://web.whatsapp.com/" target="_blank")
                        img._icon(src="img/whatsapp.svg" width="28" height="28" alt="WhatsApp" loading="lazy")
                        
                    a.social._item(href="https://web.telegram.org/" target="_blank")
                        img._icon(src="img/telegram.svg" width="29" height="22" alt="Telegram" loading="lazy")

            a._privacy(href="privacy.html")
                | политика конфендициальности