section.section(class="section--404")
    ._container.container 
        ._inner
            h1._title 
                | 404 

            ._text 
                p 
                    | Страница не найдена

            a.button._control(href="index.html")
                span._text
                    | На главную