section.section.-blog#blog
    ._container.container 
        ._inner
            .breadcrumbs
                ul._list 
                    li._item 
                        a._link(href="index.html")
                            | Главная
                            
                    li._item 
                        a._link(href="blog.html")
                            | Новости

            h1._title 
                | Новости

            .posts._posts
                ._wrapper
                    .post._item
                        ._wrapper
                            ._inner
                                h2._title 
                                    | Запуск нового проекта по разработке экзоскелета

                                a._link(href="post.html")
                                    | Подробнее

                                time._pubdate(datetime="2024-06-01")
                                    | Июнь 2024
                            
                    .post._item
                        ._wrapper
                            ._inner
                                h2._title 
                                    | Запуск нового проекта по разработке экзоскелета

                                a._link(href="post.html")
                                    | Подробнее

                                time._pubdate(datetime="2024-06-01")
                                    | Июнь 2024
                            
                    .post._item
                        ._wrapper
                            ._inner
                                h2._title 
                                    | Запуск нового проекта по разработке экзоскелета

                                a._link(href="post.html")
                                    | Подробнее

                                time._pubdate(datetime="2024-06-01")
                                    | Июнь 2024
                            
                    .post._item
                        ._wrapper
                            ._inner
                                h2._title 
                                    | Запуск нового проекта по разработке экзоскелета

                                a._link(href="post.html")
                                    | Подробнее

                                time._pubdate(datetime="2024-06-01")
                                    | Июнь 2024
                            
                    .post._item
                        ._wrapper
                            ._inner
                                h2._title 
                                    | Запуск нового проекта по разработке экзоскелета

                                a._link(href="post.html")
                                    | Подробнее

                                time._pubdate(datetime="2024-06-01")
                                    | Июнь 2024
                            
                    .post._item
                        ._wrapper
                            ._inner
                                h2._title 
                                    | Запуск нового проекта по разработке экзоскелета

                                a._link(href="post.html")
                                    | Подробнее

                                time._pubdate(datetime="2024-06-01")
                                    | Июнь 2024
                            
                    .post._item
                        ._wrapper
                            ._inner
                                h2._title 
                                    | Запуск нового проекта по разработке экзоскелета

                                a._link(href="post.html")
                                    | Подробнее

                                time._pubdate(datetime="2024-06-01")
                                    | Июнь 2024
                            
                    .post._item
                        ._wrapper
                            ._inner
                                h2._title 
                                    | Запуск нового проекта по разработке экзоскелета

                                a._link(href="post.html")
                                    | Подробнее

                                time._pubdate(datetime="2024-06-01")
                                    | Июнь 2024
                            
                    .post._item
                        ._wrapper
                            ._inner
                                h2._title 
                                    | Запуск нового проекта по разработке экзоскелета

                                a._link(href="post.html")
                                    | Подробнее

                                time._pubdate(datetime="2024-06-01")
                                    | Июнь 2024
                            
                    .post._item
                        ._wrapper
                            ._inner
                                h2._title 
                                    | Запуск нового проекта по разработке экзоскелета

                                a._link(href="post.html")
                                    | Подробнее

                                time._pubdate(datetime="2024-06-01")
                                    | Июнь 2024
                            
                    .post._item
                        ._wrapper
                            ._inner
                                h2._title 
                                    | Запуск нового проекта по разработке экзоскелета

                                a._link(href="post.html")
                                    | Подробнее

                                time._pubdate(datetime="2024-06-01")
                                    | Июнь 2024
                            
                    .post._item
                        ._wrapper
                            ._inner
                                h2._title 
                                    | Запуск нового проекта по разработке экзоскелета

                                a._link(href="post.html")
                                    | Подробнее

                                time._pubdate(datetime="2024-06-01")
                                    | Июнь 2024
            