@at-root{
    $component: &;

    #{$component}{
        padding-top: 90px;

        @include bp("lg", "up"){
            padding-top: 103px;
        }

        &--main{
            display: flex;
            flex-direction: column;
            background-image: url(../img/hero_bg_desktop.webp);
            background-position: top left;
            background-repeat: no-repeat;
            background-size: auto 1170px;

            @include bp("sm", "up"){
                background-size: auto 1024px;
            }

            @include bp("lg", "up"){
                background-size: auto 1080px;
            }
        }
    }

    .no-webp{
        #{$component}{
            &--main{
                background-image: url(../img/hero_bg_desktop.png);
            }
        }
    }
}
