section.section.-content
    ._container.container 
        ._inner 
            .breadcrumbs
                ul._list 
                    li._item 
                        a._link(href="index.html")
                            | Главная
                            
                    li._item 
                        a._link(href="page.html")
                            | Политика конфиденциальности 

            h1._title 
                | Политика конфиденциальности 

            ._text 
                p 
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque alias explicabo fuga 
                    | officiis accusamus repellendus cum soluta enim aspernatur ex dolore obcaecati tempora 
                    | quia voluptatum blanditiis, commodi labore earum rem?

                h2 
                    | Heading 2

                p 
                    | Lorem ipsum dolor sit amet 
                    a(href="#") 
                        | consectetur
                    | , adipisicing elit. Eaque alias explicabo fuga 
                    | officiis accusamus repellendus cum soluta enim aspernatur ex dolore obcaecati tempora 
                    | quia voluptatum blanditiis, commodi labore earum rem?

                h3
                    | Heading 3

                p 
                    strong 
                        | Lorem ipsum dolor sit amet consectetur
                    | , adipisicing elit. Eaque alias explicabo fuga 
                    | officiis accusamus repellendus cum soluta enim aspernatur ex dolore obcaecati tempora 
                    | quia voluptatum blanditiis, commodi labore earum rem?

                