section.section.-post 
    ._container.container 
        ._inner 
            .breadcrumbs
                ul._list 
                    li._item 
                        a._link(href="index.html")
                            | Главная
                            
                    li._item 
                        a._link(href="blog.html")
                            | Новости
                            
                    li._item 
                        a._link(href="post.html")
                            | Запуск нового проекта по разработке экзоскелета

            h1._title 
                | Запуск нового проекта по разработке экзоскелета

            ._content 
                p
                    | Вот вам яркий пример современных тенденций — сложившаяся структура 
                    | организации создаёт необходимость включения в производственный план 
                    | целого ряда внеочередных мероприятий с учётом комплекса своевременного 
                    | выполнения сверхзадачи. Противоположная точка зрения подразумевает, что 
                    | некоторые особенности внутренней политики призывают нас к новым свершениям, 
                    | которые, в свою очередь, должны быть указаны как претенденты на роль ключевых 
                    | факторов. В частности, разбавленное изрядной долей эмпатии, рациональное мышление 
                    | играет важную роль в формировании анализа существующих паттернов поведения.

                img(src="img/post_banner.webp" width="844" height="454" alt="Запуск нового проекта по разработке экзоскелета" loading="lazy")

                p
                    | Вот вам яркий пример современных тенденций — сложившаяся структура 
                    | организации создаёт необходимость включения в производственный план 
                    | целого ряда внеочередных мероприятий с учётом комплекса своевременного 
                    | выполнения сверхзадачи. Противоположная точка зрения подразумевает, что 
                    | некоторые особенности внутренней политики призывают нас к новым свершениям, 
                    | которые, в свою очередь, должны быть указаны как претенденты на роль ключевых 
                    | факторов. В частности, разбавленное изрядной долей эмпатии, рациональное мышление 
                    | играет важную роль в формировании анализа существующих паттернов поведения.

                video( preload="none" width="844" height poster="img/post_poster.webp")
                    source(src="video/video.mp4" type="video/mp4")

                p
                    | Вот вам яркий пример современных тенденций — сложившаяся структура 
                    | организации создаёт необходимость включения в производственный план 
                    | целого ряда внеочередных мероприятий с учётом комплекса своевременного 
                    | выполнения сверхзадачи. Противоположная точка зрения подразумевает, что 
                    | некоторые особенности внутренней политики призывают нас к новым свершениям, 
                    | которые, в свою очередь, должны быть указаны как претенденты на роль ключевых 
                    | факторов. В частности, разбавленное изрядной долей эмпатии, рациональное мышление 
                    | играет важную роль в формировании анализа существующих паттернов поведения.

                .gallery._gallery 
                    .swiper.js-post-gallery
                        .swiper-wrapper
                            .swiper-slide
                                img(src="img/post_banner.webp" width="844" height="454" alt="Запуск нового проекта по разработке экзоскелета" loading="lazy")
                            .swiper-slide
                                img(src="img/post_slide_1.webp" width="844" height="454" alt="Запуск нового проекта по разработке экзоскелета" loading="lazy")
                            .swiper-slide
                                img(src="img/post_slide_2.webp" width="844" height="454" alt="Запуск нового проекта по разработке экзоскелета" loading="lazy")
                            .swiper-slide
                                img(src="img/post_slide_3.webp" width="844" height="454" alt="Запуск нового проекта по разработке экзоскелета" loading="lazy")
                            .swiper-slide
                                img(src="img/post_banner.webp" width="844" height="454" alt="Запуск нового проекта по разработке экзоскелета" loading="lazy")
                            .swiper-slide
                                img(src="img/post_slide_1.webp" width="844" height="454" alt="Запуск нового проекта по разработке экзоскелета" loading="lazy")
                            .swiper-slide
                                img(src="img/post_slide_2.webp" width="844" height="454" alt="Запуск нового проекта по разработке экзоскелета" loading="lazy")
                            .swiper-slide
                                img(src="img/post_slide_3.webp" width="844" height="454" alt="Запуск нового проекта по разработке экзоскелета" loading="lazy")

                    .swiper.gallery__thumbs.js-post-gallery-thumbs
                        .swiper-wrapper
                            .swiper-slide.gallery__thumb
                                img(src="img/post_banner.webp" width="118" height="64" alt="Запуск нового проекта по разработке экзоскелета" loading="lazy")
                            .swiper-slide.gallery__thumb
                                img(src="img/post_slide_1.webp" width="118" height="64" alt="Запуск нового проекта по разработке экзоскелета" loading="lazy")
                            .swiper-slide.gallery__thumb
                                img(src="img/post_slide_2.webp" width="118" height="64" alt="Запуск нового проекта по разработке экзоскелета" loading="lazy")
                            .swiper-slide.gallery__thumb
                                img(src="img/post_slide_3.webp" width="118" height="64" alt="Запуск нового проекта по разработке экзоскелета" loading="lazy")
                            .swiper-slide.gallery__thumb
                                img(src="img/post_banner.webp" width="118" height="64" alt="Запуск нового проекта по разработке экзоскелета" loading="lazy")
                            .swiper-slide.gallery__thumb
                                img(src="img/post_slide_1.webp" width="118" height="64" alt="Запуск нового проекта по разработке экзоскелета" loading="lazy")
                            .swiper-slide.gallery__thumb
                                img(src="img/post_slide_2.webp" width="118" height="64" alt="Запуск нового проекта по разработке экзоскелета" loading="lazy")
                            .swiper-slide.gallery__thumb
                                img(src="img/post_slide_3.webp" width="118" height="64" alt="Запуск нового проекта по разработке экзоскелета" loading="lazy")
                            
                        .swiper-scrollbar
                        button.swiper-button-prev(type="button")
                        button.swiper-button-next(type="button")

