section.section.-about#about
    ._container.container 
        ._inner 
            ._content
                ._top
                    h2._title 
                        | О компании

                ._text 
                    p 
                        strong 
                            | Ambrellabio.tech - ведущая компания, поддерживаемая структурами Беларуси

                    p 
                        | Специализируемся на разработке передовых 
                        strong 
                            | кибертехнологий 
                        | и 
                        strong 
                            | биотехнологий 
                        | для удовлетворения экспортных потребностей

                    p 
                        | Стремимся к внедрению инноваций и 
                        strong 
                            | улучшению качества жизни

            ._banner 
                img(src="img/about_banner.png" width="322" height="317" alt="Ambrellabio.tech" loading="lazy")