section.section.-advantages 
    ._container.container 
        ._inner 
            h2._title 
                | Почему выбирают нас?

            .cards._cards.-advantages
                .card._item 
                    ._top
                        h3._title 
                            | ГОСУДАРСТВЕННАЯ 
                            br 
                            | ПОДДЕРЖКА:

                    ._text 
                        p 
                            | Достигнуты предварительные договоренности по финансированию с неправительственными структурами Республики Беларусь
                            
                .card._item 
                    ._top
                        h3._title 
                            | Экспертная 
                            br 
                            | команда:

                    ._text 
                        p 
                            | Высококвалифицированные специалисты с обширным опытом
                            
                .card._item 
                    ._top
                        h3._title 
                            | Международное 
                            br 
                            | признание

                    ._text 
                        p 
                            | Продукция и услуги компании востребованы на глобальном уровне