section.section.-approach 
    ._container.container 
        ._inner 
            h2._title 
                | НОВЕЙШИЙ ПОДХОД 
                br 
                | К МОДЕЛИРОВАНИЮ БЕЛКОВ

            .cards._cards.-approach
                .card._item 
                    ._top
                        h3._title 
                            | НЕМНОГО ИСТОРИИ 

                    ._text 
                        p 
                            | Наша работа – это результат многолетнего труда, протяженностью 
                            br 
                            | в 
                            strong 
                                | три десятилетия
                            | , группы ученых- энтузиастов. 

                        p 
                            | Сегодня наша технология позволяет определить 
                            strong 
                                | структуру 100% белков
                            | , 
                            | которые недоступны современным экспериментальным методам, 
                            br 
                            | а следовательно и методам моделирования, основанных на этих экспериментальных методах.
                            
                .card._item 
                    ._top
                        h3._title 
                            | НАСТОЯЩЕЕ

                    ._text 
                        p 
                            | Структуру даже самого крупного и 
                            br 
                            | сложного белка, состоящего из сотни 
                            br 
                            | тысяч аминокислотных остатков, 
                            br 
                            | наша программа определяет 
                            strong 
                                | за доли 
                                br 
                                | секунды
                            | .

                        p 
                            | Гарантия определения высокоточной 
                            br 
                            | вторичной структуры белка.

                        p 
                            strong 
                                | Скорость 
                            | - 600 000 структур за один 
                            br 
                            | рабочий день.

                        p 
                            strong 
                                | Преимущество 
                            | – возможность 
                            br 
                            | определять структуры всех типов 
                            br 
                            | белков, независимо от их 
                            br 
                            | способности кристаллизоваться.
                            
                .card._item 
                    ._top
                        h3._title 
                            | ПЕРСПЕКТИВЫ

                    ._text 
                        p 
                            | Добиться определения высокоточной 
                            br 
                            | модели 
                            strong 
                                | третичной структуры 
                            | белка.

                        p 
                            | Усовершенствование программного 
                            br 
                            | обеспечения для создания точной 
                            br 
                            | 3d модели 
                            strong 
                                | в более короткий 
                                br 
                                | временной промежуток.

                        p 
                            strong 
                                | Продолжение научной работы 
                            | по применению имеющихся возможностей.

                        p 
                            strong 
                                | Продвижение 
                            | полученных результатов для использованию достигнутых успехов во всех отраслях биоинженерии