section.section.-benefits
    ._container.container 
        ._inner 
            h2._title 
                | ВЫГОДА АРЕНДЫ

            .benefits._benefits 
                .benefit._item 
                    ._header 
                        h3._title 
                            | ЭКОНОМИЯ СРЕДСТВ

                        ._description
                            p
                                | Аренда суперкомпьютера значительно дешевле, чем покупка собственного оборудования. 
                                | Вам не нужно вкладывать значительные средства в первоначальную инвестицию


                    ._content 
                        p._subtitle
                            strong
                                | СТОИМОСТЬ СУПЕРКОМПЬЮТЕРА

                        ._text 
                            p 
                                | ПРИ ПОКУПКЕ: 
                                br
                                strong 
                                    | от 10 до 500 млн. рублей 
                                | в зависимости от комплектации и производителя

                            p 
                                | ПРИ АРЕНДЕ: 
                                br 
                                strong 
                                    | от 500 тыс. до 2 млн. рублей 
                                | в зависимости от сроков аренды и условий договора
                                
                .benefit._item 
                    ._header 
                        h3._title 
                            | ДОСТУП К ПЕРЕДОВЫМ ТЕХНОЛОГИЯМ

                        ._description
                            p
                                | Используйте самые современные технологии в области вычислительной техники, 
                                | не затрачивая средства на постоянное обновление оборудования


                    ._content 
                        ._text 
                            p 
                                | Покупка суперкомпьютера означает затраты на 
                                strong 
                                    | постоянное обновление оборудования
                                | , чтобы оставаться на переднем крае технологического прогресса

                            p 
                                | Аренда дает вам возможность использовать 
                                strong 
                                    | самые современные системы
                                | , не заботясь о затратах на их приобретение и обслуживание

                            p 
                                | Вы всегда будете в курсе новейших 
                                br 
                                | технологических тенденций и сможете 
                                br 
                                | использовать самые 
                                strong 
                                    | эффективные решения 
                                br 
                                | для своих задач
                                
                .benefit._item 
                    ._header 
                        h3._title 
                            | ОСВОБОЖДЕНИЕ ОТ НЕОБХОДИМОСТИ ОБСЛУЖИВАНИЯ

                        ._description
                            p
                                | Мы берем на себя все заботы по техническому обслуживанию суперкомпьютера. 
                                | Вы можете сосредоточиться на своей работе, не отвлекаясь на технические детали


                    ._content 
                        ._text 
                            p 
                                | В случае покупки вы должны будете заботиться о техническом обслуживании оборудования 
                                | самостоятельно, что может привести к дополнительным 
                                strong 
                                    | затратам на специалистов, запчасти и простои 
                                | оборудования

                            p 
                                | Аренда освобождает вас от всех этих забот. Наши 
                                strong 
                                    | специалисты обеспечивают бесперебойную работу 
                                | суперкомпьютера и решают все возникающие проблемы в кратчайшие сроки

                            p 
                                | Вы можете сосредоточиться на решении своих задач, 
                                strong 
                                    | не заботясь о технической стороне дела