section.section.-blog 
    ._container.container 
        ._inner 
            h2._title 
                | Новости

            .posts._posts 
                .post._item 
                    h3._title 
                        | Запуск нового проекта по разработке экзоскелета

                    a._link(href="post.html")
                        | Подробнее

                    time._pubdate(datetime="2024-06-01")
                        | Июнь 2024
                        
                .post._item 
                    h3._title 
                        | Запуск нового проекта по разработке экзоскелета

                    a._link(href="post.html")
                        | Подробнее

                    time._pubdate(datetime="2024-06-01")
                        | Июнь 2024
                        
                .post._item 
                    h3._title 
                        | Запуск нового проекта по разработке экзоскелета

                    a._link(href="post.html")
                        | Подробнее

                    time._pubdate(datetime="2024-06-01")
                        | Июнь 2024

                

            a.button._control(href="blog.html")
                span._text
                    | Показать все
            