section.section.-contacts#contacts
    ._container.container 
        ._inner 
            h2._title 
                | Контакты

            .contacts._contacts 
                ._content 
                    ul._list 
                        li
                            strong
                                | Адрес компании: 
                            | 129110, г. Москва, Гиляровского, 57, стр. 1
                            
                        li
                            strong
                                | Email:
                            a(href="mailto:info@ambrellabio.tech") 
                                | info@ambrellabio.tech
                            
                        li
                            strong
                                | Телефон:
                            a(href="tel:+7 (495) 108-43-21") 
                                | +7 (495) 108-43-21

                    .socials._socials 
                        a.social._item(href="https://web.whatsapp.com/" target="_blank")
                            img._icon(src="img/whatsapp.svg" width="28" height="28" alt="WhatsApp" loading="lazy")
                            
                        a.social._item(href="https://web.telegram.org/" target="_blank")
                            img._icon(src="img/telegram.svg" width="29" height="22" alt="Telegram" loading="lazy")

                    button.button._control(type="button" data-fancybox data-src="#popupCallback")
                        span._text 
                            | Оставить заявку

                ._map
                    iframe(src="https://yandex.ru/map-widget/v1/?ll=37.632197%2C55.787245&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1Njc0Mjk0NhJG0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsINGD0LvQuNGG0LAg0JPQuNC70Y_RgNC-0LLRgdC60L7Qs9C-LCA1N9GBMSIKDV6HFkIVIyZfQg%2C%2C&z=16.9" width="560" height="400" frameborder="0" allowfullscreen="true" style="position:relative;")