section.section.-hero 
    ._container.container 
        ._inner 
            h1._title 
                | Инновация в кибертехнологиях и биотехнологиях

            ._text 
                p 
                    | Мы ведущая компания, поддерживаемая структурами Беларуси

                p 
                    | Специализируемся на разработке передовых 
                    strong 
                        | кибертехнологий 
                    br 
                    | и 
                    strong 
                        | биотехнологий 
                    | для удовлетворения экспортных потребностей

            button.button._control(type="button" data-fancybox data-src="#popupCallback")
                span._text
                    | Оставить заявку 

            .directions._directions#directions 
                .direction._item 
                    ._inner 
                        h2._title 
                            | Компьютерное моделирование

                        ._text 
                            p 
                                | Предлагаем решения для автоматизации и повышения эффективности 
                                | производственных линий, уменьшая затраты и повышая продуктивность 
                                
                .direction._item 
                    ._inner 
                        h2._title 
                            | Кибернетическое направление

                        ._text 
                            p 
                                | Разработка при участии неправительственных структур экзоскелетов 
                                | для рабочих и силовых профессий с дистанционным управлением
                                
                .direction._item 
                    ._inner 
                        h2._title 
                            | Биотехнологическое направление

                        ._text 
                            p 
                                | Используем новейшие методы для медицинских и сельскохозяйственных целей, 
                                | обеспечивая высокую точность и эффективность процесса генетического редактирования