section.section.-methods.-bg 
    ._container.container
        ._inner
            h2._title.-light
                | РЕВОЛЮЦИЯ 
                br 
                | В БИОИНЖЕНЕРИИ

            ._text.-light
                p 
                    | Новейший подход к моделированию белков 
                p
                    | Текущие методы моделирования

            .methods._methods
                .method._item 
                    ._wrapper 
                        p._inner 
                            | Сравнительное  моделирование
                            
                .method._item 
                    ._wrapper 
                        p._inner 
                            | Предсказание вторичной структуры
                            
                .method._item 
                    ._wrapper 
                        p._inner 
                            | Методы распознавания сверток
                            
                .method._item 
                    ._wrapper 
                        p._inner 
                            | Методы ab initio