section.section.-offers
    ._container.container 
        ._inner 
            h2._title 
                | Мы предлагаем

            .offers._offers 
                .offer._item 
                    h3._title 
                        | ЧТО НУЖНО?

                    ._inner
                        ._content
                            p
                                strong._subtitle
                                    | Предоставьте нам всего лишь следующую информацию

                            ._text 
                                p 
                                    | нуклеотидную  последовательность мРНК интересующего вас белка
                                p 
                                    | или код этой нуклеотидной последовательности в EMBL
                                p 
                                    | или хотя бы код самого белка в PDB.
                                
                .offer._item 
                    h3._title 
                        | ЧТО ПОЛУЧИТЕ?


                    ._inner
                        ._content
                            p
                                strong._subtitle
                                    | В результате через 1-3 дня вы получите

                            ._text 
                                p 
                                    | схему вторичной структуры  заказанного белка (2D)
                                p 
                                    | при возможности схему пространственной структуры (3D) в виртуальном пространстве
                                p 
                                    | файл .pdb с координатами 
                                    br 
                                    | каждого атома белка.
                                
                .offer._item 
                    h3._title 
                        | КАК ПОЛУЧИТЕ?

                    ._inner
                        ._content
                            p
                                strong._subtitle
                                    | Данные вы можете получить самым удобным для вас способом:

                            ._text 
                                p 
                                    | - по электронной почте 
                                    br 
                                    | - на сайте 
                                    br 
                                    | - на электронном носителе

                                p 
                                    | P.S.: мы также можем отдельно произвести дополнительную обработку данных заказанного вами белка.

