section.section.-problems 
    ._container.container 
        ._inner 
            h2._title 
                | ПРОБЛЕМЫ ПРИ ИСПОЛЬЗОВАНИИ СУЩЕСТВУЮЩИХ ПОДХОДОВ МОДЕЛИРОВАНИЯ

            .problems._problems 
                .problem._item.js-problem-collapse
                    ._inner
                        h3._title 
                            | Ограничения по размеру и сложности белка

                        ._text 
                            p 
                                | Многие методы хорошо работают с небольшими белками, но плохо справляются с большими, 
                                | сложными белками или белковыми комплексами. С увеличением размера белка возрастает 
                                | сложность его структуры и взаимодействий, что затрудняет точное моделирование.

                .problem._item.js-problem-collapse 
                    ._inner
                        h3._title 
                            | Недостаток экспериментальных данных

                        ._text 
                            p 
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt rem rerum id voluptate. 
                                | A labore maiores tempora minima velit dolorem error, odio quos consequatur, voluptates placeat 
                                | soluta eveniet amet odit?

                .problem._item.js-problem-collapse 
                    ._inner
                        h3._title 
                            | Компромисс между точностью и скоростью

                        ._text 
                            p 
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt rem rerum id voluptate. 
                                | A labore maiores tempora minima velit dolorem error, odio quos consequatur, voluptates placeat 
                                | soluta eveniet amet odit?

                .problem._item.js-problem-collapse 
                    ._inner
                        h3._title 
                            | Проблемы с точностью предсказания

                        ._text 
                            p 
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt rem rerum id voluptate. 
                                | A labore maiores tempora minima velit dolorem error, odio quos consequatur, voluptates placeat 
                                | soluta eveniet amet odit?

                .problem._item.js-problem-collapse 
                    ._inner
                        h3._title 
                            | Недостаток универсальности

                        ._text 
                            p 
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt rem rerum id voluptate. 
                                | A labore maiores tempora minima velit dolorem error, odio quos consequatur, voluptates placeat 
                                | soluta eveniet amet odit?

                .problem._item.js-problem-collapse 
                    ._inner
                        h3._title 
                            | Сложность использования программного обеспечения

                        ._text 
                            p 
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt rem rerum id voluptate. 
                                | A labore maiores tempora minima velit dolorem error, odio quos consequatur, voluptates placeat 
                                | soluta eveniet amet odit?

                .problem._item.js-problem-collapse 
                    ._inner
                        h3._title 
                            | Стоимость вычислений

                        ._text 
                            p 
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt rem rerum id voluptate. 
                                | A labore maiores tempora minima velit dolorem error, odio quos consequatur, voluptates placeat 
                                | soluta eveniet amet odit?