section.section.-rent.-bg
    ._container.container 
        ._inner 
            h2._title.-light
                | аренда 
                br 
                | СУПЕРКОМПЬЮТЕРОВ

            ._text.-light
                p 
                    | Где используется суперкомпьютер

            .cards._cards.-rent
                .card._item 
                    ._top
                        h3._title 
                            | Научные 
                            br 
                            | исследования

                    ._text 
                        p 
                            | Моделирование климата, исследование космоса, разработка новых лекарств

                .card._item 
                    ._top
                        h3._title 
                            | Машинное 
                            br 
                            | обучение

                    ._text 
                        p 
                            | Обучение больших языковых моделей, обработка данных, анализ изображений

                .card._item 
                    ._top
                        h3._title 
                            | Инженерные 
                            br 
                            | задачи

                    ._text 
                        p 
                            | Проектирование новых материалов, оптимизация процессов, моделирование аэродинамики

                .card._item 
                    ._top
                        h3._title 
                            | Финансовое 
                            br 
                            | моделирование

                    ._text 
                        p 
                            | Анализ экономической ситуации, прогнозирование цен, оптимизация портфеля, предсказание потребностей