section.section.-specials.-bg#specials
    ._container.container 
        ._inner 
            h2._title.-light
                | СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ 
                br 
                | ДЛЯ ВАШЕГО УСПЕХА

            .cards._cards.-specials
                .card._item 
                    ._top
                        h3._title 
                            | БЕСПЛАТНЫЙ 
                            br 
                            | ТЕСТОВЫЙ ПЕРИОД

                    ._text 
                        p 
                            | Аренда суперкомпьютера значительно дешевле, чем покупка собственного оборудования. 
                            | Вам не нужно вкладывать большие средства в первоначальную инвестицию
                            
                .card._item 
                    ._top
                        h3._title 
                            | ПЕРСОНАЛЬНАЯ 
                            br 
                            | КОНСУЛЬТАЦИЯ

                    ._text 
                        p 
                            | Наши специалисты помогут вам 
                            br 
                            | определить оптимальные 
                            br 
                            | параметры аренды, разработать 
                            br 
                            | план использования 
                            br 
                            | суперкомпьютера и ответить на 
                            br 
                            | все ваши вопросы
                            
                .card._item 
                    ._top
                        h3._title 
                            | ГИБКИЕ УСЛОВИЯ 
                            br 
                            | АРЕНДЫ

                    ._text 
                        p 
                            | Мы предлагаем индивидуальные 
                            br 
                            | условия аренды, которые будут 
                            br 
                            | соответствовать вашему бюджету. 
                            br 
                            | Выбор оптимального варианта 
                            br 
                            | аренды с учетом сроков, объема 
                            br 
                            | вычислительных ресурсов
                            

            button.button._control(type="button" data-fancybox data-src="#popupCallback")
                span._text
                    | Оставить заявку