section.section.-values 
    ._container.container
        ._inner 
            h2._title 
                | Наши ценности
                
            .values._values 
                .value._item 
                    ._wrapper 
                        ._inner
                            ._banner
                                img._image(src="img/value_1.svg" width="144" height="144" alt="Инновации" loading="lazy")
                            
                            ._content 
                                h3._title 
                                    | Инновации:

                                p 
                                    | Постоянное стремление к улучшению и внедрению новых идей
                            
                .value._item 
                    ._wrapper 
                        ._inner
                            ._banner
                                img._image(src="img/value_2.svg" width="144" height="144" alt="Качество" loading="lazy")
                            
                            ._content 
                                h3._title 
                                    | Качество:

                                ._text
                                    p 
                                        | Обеспечение высоких стандартов в каждом проекте

            button.button._control(type="button")
                span._text
                    | Оставить заявку