@at-root{
    $component: &;

    #{$component}{
        display: flex;
        align-items: center;
        column-gap: 16px;
        @include bp("lg", "up"){
            transition: opacity 0.3s;
    
            &:hover{
                opacity: 0.5;
            }
        } 
    }
}
