@at-root{
    $component: ".value__wrapper";

    #{$component}{
        @include cut_corners_content();

        &:before{
            border-width: 1px;
            border-style: solid;
            border-image: linear-gradient(to bottom, get-color(white) 0%, get-color(primary) 100%) 1;
        }
    }
}
