@at-root{
    $component: ".problem__text";

    #{$component}{
        overflow: hidden;
        max-height: 0;
        padding-top: 0;
        font-size: 16px;
        line-height: 19px;
        transition: all 0.3s;
    }

    .problems__item--open{
        #{$component}{
            max-height: 300px;
            padding-top: 16px;
        }
    }
}
