@at-root{
    $component: ".problem__title";

    #{$component}{
        position: relative;
        padding-right: 40px;
        font-size: 20px;
        line-height: 30px;
        z-index: 2;
        cursor: pointer;

        &:before{
            content: counter(problem) " - ";
        }

        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){
        }
    }
}
