@at-root{
    $component: ".benefit__header";

    #{$component}{
        padding: 30px;
        color: get-color(white);
        background-color: get-color(primary);

        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            flex-basis: 450px;
            padding: 40px 70px 40px 40px;
            background-image: url(../img/benefit_delimiter.svg);
            background-position: right -0.5px center;
            background-repeat: no-repeat;
            background-size: auto 100%;
        }
    }
}
