@at-root{
    $component: ".benefit__subtitle";

    #{$component}{
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 22px;

        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){
        }
    }
}
