@at-root{
    $component: ".section__control";

    #{$component}{
        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){
        }
    }

    .section--values{
        #{$component}{
            @include bp("lg", "up"){
                margin-left: 8px;
            }
        }
    }

    .section--specials{
        #{$component}{
            @include bp("lg", "up"){
                display: flex;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .section--blog{
        #{$component}{
            @include bp("sm", "up"){
                display: flex;
                width: 380px;
            }
            @include bp("lg", "up"){
                width: 290px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}