@at-root{
    $component: ".section__inner";

    #{$component}{
        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){
        }
    }

    .section--hero{
        #{$component}{
            padding: 58px 0 30px;
            
            @include bp("sm", "up"){
                padding: 70px 0 23px;
            }
            @include bp("lg", "up"){
                position: relative;
                padding-top: 238px;
                padding-bottom: 396px;

                &:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -300px;
                    width: 870px;
                    height: 886px;
                    background-image: url(../img/hero_banner.webp);
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    .section--about{
        #{$component}{
            @include bp("sm", "down"){
                position: relative;
                padding: 0 6px 6px 0;
                border-radius: 8px;
                background-color: get-color(primary);
            }
            @include bp("sm", "up"){
                display: flex;
                flex-direction: row-reverse;
                align-items: flex-start;
                column-gap: 30px;
                min-height: 326px;
                margin: 0 -10px;
                padding: 30px 40px 20px 10px;
                background-image: url(../img/about_bg_tablet.webp);
                background-position: top center;
                background-repeat: no-repeat;
                // background-size: contain;
            }
            @include bp("lg", "up"){
                column-gap: 86px;
                min-height: 376px;
                margin: 0 -13px;
                padding: 26px 60px 28px;
                background-image: url(../img/about_bg_desktop.webp);
            }
        }
    }

    .section--problems{
        #{$component}{
            @include bp("lg", "up"){
                padding-right: 100px;
                padding-left: 100px;
            }
        }
    }

    .section--benefits{
        #{$component}{
            @include bp("lg", "up"){
                padding-right: 90px;
                padding-left: 90px;
            }
        }
    }
    .section--blog{
        #{$component}{
            margin: 0 -20px;
            padding: 0 20px;
            
            @include bp("sm", "up"){
                overflow: hidden;
                margin: 0 -10px;
                padding: 0 10px;
            }
            @include bp("lg", "up"){
            }
        }
    }
    .section--404{
        #{$component}{
            text-align: center;
        }
    }

    .no-webp{
        .section--hero{
            #{$component}{
                &after{
                    background-image: url(../img/hero_banner.png);
                }
            }
        }

        .section--about{
            #{$component}{
                @include bp("sm", "up"){
                    background-image: url(../img/about_bg_tablet.png);
                }
                @include bp("lg", "up"){
                    background-image: url(../img/about_bg_desktop.png);
                }
            }
        }
    }
}