@at-root{
    $component: ".section__posts";

    #{$component}{
        overflow: visible;
        
        @include bp("sm", "down"){
            margin: 0 -20px 30px;
            padding: 0 40px;
        }

        @include bp("sm", "up"){
            margin-bottom: 25px;
        }
        @include bp("lg", "up"){
            margin-bottom: 40px;
        }
    }
}