@at-root{
    $component: ".section__title";

    #{$component}{
        margin-bottom: 30px;
        font-family: "New_Zelek", sans-serif;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        color: get-color(grey-darken);

        @include bp("sm", "up"){
            font-size: 32px;
            line-height: 40px;
        }
        @include bp("lg", "up"){
            margin-bottom: 40px;
        }

        &--light{
            color: get-color(white);
        }
    }

    .section--hero{
        #{$component}{
            margin-bottom: 20px;
            font-size: 26px;
            line-height: 32px;
            text-align: left;

            @include bp("lg", "up"){
                margin-bottom: 30px;
                font-size: 30px;
                line-height: 37px;
            }

            @include bp("lg", "up"){
                width: 810px;
                margin-bottom: 20px;
                font-size: 38px;
                line-height: 47px;
            }
        }
    }

    .section--values{
        #{$component}{
            text-align: left;

            @include bp("lg", "down"){
                padding-left: 6px;
            }
        }
    }

    .section--about{
        #{$component}{
            margin-bottom: 0;
            text-align: left;

            @include bp("sm", "down"){
                padding: 20px 0 20px 20px;
                font-size: 20px;
                line-height: 25px;
                color: get-color(white);
            }

            @include bp("lg", "up"){
                margin-bottom: 0;
            }
        }
    }

    .section--methods{
        #{$component}{
            margin-bottom: 16px;
        }
    }

    .section--rent{
        #{$component}{
            margin-bottom: 16px;
        }
    }

    .section--contacts{
        #{$component}{
            margin-bottom: 20px;

            @include bp("sm", "up"){
                margin-bottom: 30px;
            }

            @include bp("lg", "up"){
                margin-bottom: 50px;
            }
        }
    }

    .page--blog{
        .section--blog{
            #{$component}{
                text-align: left;
    
                @include bp("sm", "up"){
                    font-size: 30px;
                    line-height: 37px;
                }
    
                @include bp("lg", "up"){
                }
            }
        }
    }
    .page--post{
        .section--post{
            #{$component}{
                @include bp("sm", "up"){
                    font-size: 30px;
                    line-height: 37px;
                }
    
                @include bp("lg", "up"){
                }
            }
        }
    }
    .page--simple{
        .section--content{
            #{$component}{
                font-size: 24px;
                line-height: 27px;

                @include bp("sm", "up"){
                    font-size: 30px;
                    line-height: 37px;
                }
    
                @include bp("lg", "up"){
                }
            }
        }
    }
    .section--404{
        #{$component}{
            margin-bottom: 0;
            font-size: 100px;
            line-height: 1em;
            color: get-color(secondary);

            @include bp("sm", "up"){
                font-size: 180px;
            }

            @include bp("lg", "up"){
                font-size: 200px;
            }
        }
    }
}
