@at-root{
    $component: ".section__values";

    #{$component}{
        
        @include bp("lg", "down"){
            margin-bottom: 30px;
        }
        
        @include bp("lg", "up"){
            margin-bottom: 40px;
        }
    }
}