@at-root{
    $component: &;

    #{$component}{
        margin: 60px 0;

        @include bp("sm", "up"){}
        @include bp("lg", "up"){
            margin-top: 100px;
            margin-bottom: 100px;
        }

        &--bg{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &--hero{
            margin: 0;
    
            @include bp("sm", "up"){}
            @include bp("lg", "up"){
                overflow: hidden;
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        &--methods{
            padding: 40px 0;
            background-color: get-color(primary);
            background-image: url(../img/methods_bg_mobile.webp);

            @include bp("sm", "up"){
                background-image: url(../img/methods_bg_tablet.webp);
            }
            @include bp("lg", "up"){
                padding-top: 100px;
                padding-bottom: 100px;
                background-image: url(../img/methods_bg_desktop.webp);
            }
        }

        &--approach{
            padding: 40px 0;
            background-color: get-color(grey-lighten);

            @include bp("lg", "up"){
                padding-top: 100px;
                padding-bottom: 100px;
            }
        }

        &--rent{
            padding: 70px 0 60px;
            background-position: top center;
            background-image: url(../img/rent_bg_mobile.webp);

            @include bp("sm", "up"){
                padding-bottom: 50px;
                background-image: url(../img/rent_bg_tablet.webp);
            }
            @include bp("lg", "up"){
                padding-top: 100px;
                padding-bottom: 100px;
                background-image: url(../img/rent_bg_desktop.webp);
            }
        }

        &--specials{
            padding: 40px 0;
            background-image: url(../img/specials_bg_mobile.webp);

            @include bp("sm", "up"){
                padding-top: 50px;
                padding-bottom: 50px;
                background-image: url(../img/specials_bg_tablet.webp);
            }
            @include bp("lg", "up"){
                padding-top: 100px;
                padding-bottom: 100px;
                background-image: url(../img/specials_bg_desktop.webp);
            }
        }

        &--blog{
            overflow: hidden;
        }
    }

    .page--blog{
        #{$component}{
            &--blog{
                margin: 60px 0;

                @include bp("sm", "up"){
                    margin-top: 70px;
                }
                @include bp("lg", "up"){
                    margin-top: 46px;
                    margin-bottom: 100px;
                }
            }
        }
    }

    .page--post{
        #{$component}{
            &--post{
                overflow: hidden;
                margin: 60px 0;

                @include bp("sm", "up"){
                    margin-top: 70px;
                }
                @include bp("lg", "up"){
                    margin-top: 46px;
                    margin-bottom: 100px;
                }
            }
        }
    }

    .page--simple{
        #{$component}{
            &--content{
                margin: 60px 0;

                @include bp("sm", "up"){
                    margin-top: 70px;
                }
                @include bp("lg", "up"){
                    margin-top: 46px;
                    margin-bottom: 100px;
                }
            }
        }
    }

    .no-webp{
        #{$component}{
            &--methods{
                background-image: url(../img/methods_bg_mobile.png);
    
                @include bp("sm", "up"){
                    background-image: url(../img/methods_bg_tablet.png);
                }
                @include bp("lg", "up"){
                    background-image: url(../img/methods_bg_desktop.png);
                }
            }
            &--rent{
                background-image: url(../img/rent_bg_mobile.png);
    
                @include bp("sm", "up"){
                    background-image: url(../img/rent_bg_tablet.png);
                }
                @include bp("lg", "up"){
                    background-image: url(../img/rent_bg_desktop.png);
                }
            }
            &--specials{
                background-image: url(../img/specials_bg_mobile.png);
    
                @include bp("sm", "up"){
                    background-image: url(../img/specials_bg_tablet.png);
                }
                @include bp("lg", "up"){
                    background-image: url(../img/specials_bg_desktop.png);
                }
            }
        }
    }
}
