@at-root{
    $component: ".nav__list";

    #{$component}{
        list-style: none;
        margin: 0;
        padding: 0;
        
        @include bp("sm", "up"){}
        @include bp("lg", "up"){}
    }

    .header__nav{
        &--mobile{
            #{$component}{

                @include bp("sm", "up"){}
                @include bp("lg", "down"){
                    display: flex;
                    flex-direction: column;
                    row-gap: 24px;
                }
            }
        }

        &--desktop{
            #{$component}{
                @include bp("lg", "up"){
                    display: flex;
                    align-items: center;
                    column-gap: 40px;
                }
            }
        }
    }

    .page__footer{
        #{$component}{
            display: flex;
            flex-wrap: wrap;
            row-gap: 24px;

            @include bp("sm", "up"){}
            @include bp("lg", "up"){}
        }
    }
}
