@at-root{
    $component: ".problems__item";

    #{$component}{
        counter-increment: problem;
        position: relative;
        padding: 1px;
        border-radius: 18px;
        background: linear-gradient(155deg, get-color(white), get-color(primary));
        box-shadow: 0 2px 6px rgba(get-color(grey-darken), 10%);

        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){
        }
    }
}
