extends layout

block append settings
    -
        settings.page.name = 'main'

block content
    include ./template-parts/pages/main/values
    include ./template-parts/pages/main/about
    include ./template-parts/pages/main/methods
    include ./template-parts/pages/main/problems
    include ./template-parts/pages/main/approach
    include ./template-parts/pages/main/offers
    include ./template-parts/pages/main/advantages
    include ./template-parts/pages/main/rent
    include ./template-parts/pages/main/benefits
    include ./template-parts/pages/main/specials
    include ./template-parts/pages/main/blog
    include ./template-parts/pages/main/contacts