block settings
    -
        const settings = {
            page: {
                name: ''
            }
        };

doctype html
html.webp(lang="ru")
    head
        include ./template-parts/common/meta

    body.page(class="page--" + settings.page.name)
        main._body
            block content

        include ./template-parts/common/footer
        include ./template-parts/common/scripts