$colors: (
	black: #000000,
	grey-darken: #272626,
	grey-light: #F0F0F0,
	grey-lighten: #FAFAFA,
	white: #FFFFFF,
	primary: #197CAE,
	primary-light: #2DAEEF,
	secondary: #FD893A,
	secondary-dark: #E67020,

	footer-bg: #EFEFEF,
	input-border: #BEBEBE,
	input-placeholder: #989898
)